h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
}
html, body {
	height: 100%;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	color: black;
}
.outer {
	width: 100%;
	height: 100%;
	display: table;
	text-align: center;
}
.outer > .inner {
	display: table-cell;
	vertical-align: middle;
}
label {
	padding-top: 10px;
}
a {
	color: black;
}
a:hover {
	color: black;
}
ul.nav li a>h2 {
    margin-top: 0;
    margin-bottom: 0;
}